extends ../views/layout/layout
include ../blocks/full-session/full-session
include ../blocks/header/header
include ../blocks/button/button
include ../blocks/order/order
include ../blocks/session/session
include ../blocks/footer/footer
include ../blocks/group/group
include ../blocks/subscriber/subscriber

block title
    title Главная страница
block content
    +header(user)
    script
        include ../blocks/total/total.js
    .main-wrapper
        .main-page
            each order in orders
                +session(order.owner, order.time, order.service, order.service._id, order, user, order.subscriber.length)
                if user
                    if order.owner.name===user.name
                        script.
                            timer(document.getElementById('time').innerHTML);
                        #total.total
                            form.form(action="/closeOrder", method="post")
                            .total__close(onclick="document.getElementById('total').style.display='none'")
                            .total__content
                                .total__title Итого
                                each dish in order.dishes
                                    +group(dish)
                                each subscriber in order.subscriber
                                    if subscriber.paid
                                        each dish in subscriber.dishes
                                            +group(dish)
        +footer("© Lenka-dark-side Corporation")
    script
        include ../blocks/mainpage/mainpage.js