extends ../views/layout/layout
include ../blocks/header/header
include ../blocks/button/button
include ../blocks/order/order
include ../blocks/session/session
include ../blocks/full-session/full-session
include ../blocks/footer/footer
include ../blocks/group/group
include ../blocks/subscriber/subscriber

block title
    title Личный кабинет
block content
    +header(user)
    .tabs
        ul.tabs__caption
            li.active История заказов
            li Долги
            li Информация профиля
        .tabs__content.active.history 
            each order in orders
               +full-session(order.owner.name, order.time, order.service.logo, order, order.subscriber)
        .tabs__content.debt Долги
        .tabs__content.profile Информация профиля
    script
        include ../blocks/personal-area-page/personal-area-page.js