extends ../views/layout/layout
include ../blocks/header/header
include ../blocks/button/button
include ../blocks/session/session
include ../blocks/full-session/full-session
include ../blocks/footer/footer
include ../blocks/dept/dept

block title
    title Личный кабинет
block content
    .personal-area__wrapper
        +header()
        .tabs
            ul.tabs__caption
                li.active История заказов
                li Долги
                li Информация профиля
            .tabs__content.active.history 
                .history__owner
                    .history__title Заказы, созданные мной
                    each order in orders
                       +full-session(order.owner.name, order.time, order.service.logo, order, order.subscriber, "full-session_personal-area")
                .history__subscriber
                    .history__title Заказы, на которые я был(а) подписана
                    each order in subscrOrders
                       +full-session(order.owner.name, order.time, order.service.logo, order, order.subscriber, "full-session_personal-area")
            .tabs__content.debt 
                +dept(my,"Я должен")
                +dept(me,"Мне должны", ["dept__me"])
            .tabs__content.profile 
                +person(user,["person_full"],{"full":"true"})
    script
        include ../blocks/personal-area-page/personal-area-page.js
