.dept
    height 300px
    overflow-y auto
    display inline-block
    background #fff
    border-radius 2px
    
.dept__title
    font-size 1.7em
    font-weight bold
    text-align center
    color buttons
    
.dept__person
    margin 8px 2%
    
.dept__name, .dept__sum
    display inline-block

.dept__paid 
    display none

.dept__name
    width 68%
    font-size 1.2em
    
.dept__sum
    width 28%
    font-size 1em
    color darkgray
    text-align right
    
.dept__order-id
    display none
    
.dept__me 
    & .dept__name
        width 50%
    & .dept__sum
        width 38%
    & .dept__paid
        display inline-block
        text-align right
        width 8%
        position relative
        cursor pointer
            
@media screen and (max-width:670px)
    .dept__name
        width 55%
    
@media screen and (max-width:480px)
    .dept__paid input
        margin-right 0
