mixin dept(user, mods,options)
	.dept(class=mods)
		if options && options.me
			each dept in me
				=dept.person
				=dept.sum
				input(type='checkbox')
		if options && options.my
			each dept in my
				=dept.person
				=dept.sum
