.tabs__caption
    top 40px
    position relative
    height 38px
    width 100% 
    border 1px solid black

.tabs__caption li
    display inline-block
    width 33.3%
    text-align center

.tabs__content 
    display none
    border 1px solid black
    min-height 400px
    position relative
    top 40px

.tabs__content.active 
    display block
