include ../button/button
include ../auth/auth

mixin header(person)
    .header
        .header__block
            a.header__logo(alt="logo" href="/home")
            .header__slogan
            +button("Личный кабинет", ["header__button"], {'href': '/personalArea'})
            +button("Сделать заказ", ["header__button"], {'href': '/services?owner=True' })
